<h1>Add Employee</h1>

<%= form_with(model: [@hr, @employee], local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.email_field :email, required: true %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone, required: true %>
  </div>

  <div>
        <%= form.label :date_of_interview %>
        <%= form.datetime_local_field :date_of_interview %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', hr_path(@hr) %>
