<h1>List of Candidates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Role</th>
      <th>HR ID</th>
      <th>Qualification</th>
      <th>College</th>
      <th>Experience</th>
      <th>Company</th>
      <th>Technology</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @candidates.each do |candidate| %>
      <tr>
        <td><%= candidate.name %></td>
        <td><%= candidate.email %></td>
        <td><%= candidate.phone %></td>
        <td><%= candidate.role %></td>
        <td><%= candidate.hr_id %></td>
        <td><%= candidate.qualification %></td>
        <td><%= candidate.college %></td>
        <td><%= candidate.experience %></td>
        <td><%= candidate.company %></td>
        <td><%= candidate.technology %></td>
        <td>
              <%= button_to 'Delete', hr_candidate_path(@hr, candidate), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>
